:root {
  --color-success: #19c37d;
  --color-action: #2563eb;
  --color-action-hover: #2563eb;
  --color-error: #ef4146;
  --surface-primary: #202123;
  --surface-default: #353740;
  --surface-secondary: #6e6e80;
  --text-primary: #202123;
  --text-default: #353740;
  --text-secondary: #6e6e80;
  --text-disabled: #acacbe;
  --text-primary-inverted: #ffffff;
  --text-error: var(--color-error)
}

.custom-button {
  background-color: var(--color-action);
  color: var(--text-primary-inverted);
  padding: 3px;
  border: none;
  border-radius: 3px;
  margin: 3px;
}

.progress-container {
  width: 99%;
  height: 5px;
  background-color: var(--surface-secondary);
  margin: 3px;
  border-radius: 5px;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--color-primary);
}

.chunk-size-input {
  margin: 3px;
  width: 80px;
  height: 28px;
  color: var(--text-primary);
  font-size: 14px;
}

.chunk-size-label {
  color: var(--text-primary-inverted);
}